body {
  background-color: burlywood;
}

h1 {
  text-align: center;
  font-size: 75px;
  margin: auto;
}

h2 {
  text-align: center;
  font-size: 25px;
}

em {
  font-style: normal;
}

p {
  font-family: monospace;
  font-size: 14px;
}

.container {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;
  justify-content: center;
  align-items: flex-start;
}

.image {
  margin: 0 0 15px 15px;
  justify-content: center;
}

.caption {
  text-align: center;
  margin: auto;
}

.header {
  text-align: center;
  display: flex;
  margin-left: 25%;
  margin-right: 25%;
  justify-content: space-between;
}

.headerthree {
  text-align: center;
}

.fishname {
  font-weight: normal;
}

.fishsprite {
  width: 75px;
  height: 75px;
  image-rendering: pixelated;
  object-fit: cover;
}

.jump {
  display: block;
  text-align: center;
}

.footer {
  display: block;
  text-align: center;
}