* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: #ffffff;
}

html,
body {
  background: #0007ad;
  height: 100%;
  padding-top: 1.75rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #51eefc;
}

h1 {
  text-align: center;
  font-size: 4.5rem;
  margin-top: 1rem;
  letter-spacing: -0.375rem;
  line-height: 7rem;
  text-shadow: 0.375rem 0.375rem 0 #303030;
}

h2 {
  text-align: center;
  font-size: 2rem;
  margin: 1rem;
  letter-spacing: -0.125rem;
  text-shadow: 0.25rem 0.25rem 0 #303030;
}

figure {
  flex: auto;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-align: center;
  max-width: 8rem;
}

figcaption,
p {
  font-size: 1rem;
  text-align: center;
  margin-top: 0.375rem;
  margin-bottom: 0.375rem;
}

/* Pokemon type style textboxes */

figcaption {
  text-shadow: 0.05rem 0.05rem 0 #303030, -0.05rem 0.05rem 0 #303030, -0.05rem -0.05rem 0 #303030, 0.05rem -0.05rem 0 #303030;
  background-color: #303030;
  padding: 0.2rem;
  padding-left: 0.375rem;
  padding-right: 0.375rem;
  border-style: solid;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-color: #ffffff;
  outline-color: #303030;
  outline-width: 0.2rem;
  outline-style: solid;
  font-weight: 550;
}

em {
  font-style: normal;
}

.bg {
  background: url(img2/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  float: left;
}

.bg .box .container img {
  filter: grayscale(100%);
}

.bg .box .container img:hover {
  filter: brightness(1.1);
  transition-duration: 0.125s;
  scale: 1.1;
}

#myHeader.header {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  background-color: #303030;
  color: white;
  font-size: 1rem;
  z-index: 1000;
  white-space: nowrap;
}

.icon {
  float: left;
  width: 4rem;
  height: 4rem;
  padding: 0.75rem;
  margin-right: -0.375rem;
  image-rendering: pixelated;
  object-fit: cover;
}

.headercontent {
  width: 100%;
}

.header-three {
  text-shadow: 0.125rem 0.125rem 0 #303030;
}

.section {
  float: left;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: auto;
  max-width: 15%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  text-align: center;
}

.section a:hover {
  color: #ffffff;
}

.section:hover {
  background-color: #555555;
  transition-duration: 0.125s;
}

.navbar {
  float: right;
  text-align: center;
  overflow: hidden;
  width: 20%;
  padding: 0.4375rem;
}

.search {
  border: 0.125rem;
  border-radius: 0.375rem;
  height: 3.0675rem;
  width: 100%;
  padding: 0.875rem;
  color: #303030;
}

.box {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 3rem;
  padding-top: 0.875rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: 0.125rem 0.125rem 0.75rem #303030;
  backdrop-filter: blur(0.25rem);
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: flex-start;
}

.footer {
  background-color: #303030;
  padding-top: 0.875rem;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 0.875rem;
  justify-content: left;
  display: flex;
  height: 14rem;
}

.footer-icon {
  width: 6rem;
  height: 6rem;
  padding: 0.875rem;
  image-rendering: pixelated;
  object-fit: cover;
}

.header-three,
.footer-text {
  text-align: center;
  margin: 1rem;
  display: block;
}

.jump {
  display: table;
  margin: auto;
  margin-bottom: 1.25rem;
}

.footer-text {
  text-align: left;
}

.box-one {
  width: 7rem;
  height: auto;
}
.box-two,
.box-three {
  width: 30%;
  height: auto;
}

.box-one p,
.box-two p,
.box-three p {
  font-size: 0.875rem;
}

.contact {
  text-align: left;
  margin-bottom: 0.375rem;
  word-wrap: break-word;
  padding-left: 5%;
}

.contact.title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.875rem;
}

.fishsprite {
  width: 6rem;
  height: 6rem;
  image-rendering: pixelated;
  object-fit: cover;
}

@media screen and (max-width: 40em) {
  html {
    font-size: 87.5%;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .box {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 3rem;
    padding-top: 0.875rem;
    padding-bottom: 1rem;
    backdrop-filter: blur(0.25rem);
  }
}
