* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: monospace;
  color: #ffffff;
}

body,
html {
  background: #0007ad;
  height: 100%;
  padding-top: 1.75rem;
}

a {
  text-decoration: none;
}

a:hover {
  color: #51eefc;
}

h1 {
  text-align: center;
  font-size: 4.5rem;
  margin-top: 1rem;
  letter-spacing: -0.375rem;
  line-height: 7rem;
  text-shadow: 0.375rem 0.375rem 0 #303030;
}

h2 {
  margin-left: 2rem;
  font-size: 3rem;
  text-shadow: 0.25rem 0.25rem 0 #303030;
}

#myHeader.header {
  position: fixed;
  top: 0;
  height: 4rem;
  width: 100%;
  background-color: #303030;
  color: white;
  font-size: 1rem;
  z-index: 1000;
  white-space: nowrap;
}

.icon {
  float: left;
  width: 4rem;
  height: 4rem;
  padding: 0.75rem;
  margin-right: -0.375rem;
  image-rendering: pixelated;
  object-fit: cover;
}

.headercontent {
  width: 100%;
}

.section {
  float: left;
  padding-top: 1.375rem;
  padding-bottom: 1.375rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  width: auto;
  max-width: 15%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  float: left;
  text-align: center;
}

.section a:hover {
  color: #ffffff;
}

.section:hover {
  background-color: #555555;
  transition-duration: 0.125s;
}

.search-bar {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: auto;
}

.navbar {
  border: 0.125rem;
  border-radius: 0.375rem;
  width: 50%;
  overflow: hidden;
  height: 3.0675rem;
  margin: 0.4375rem 0.4375rem 0 0.4375rem;
  position: relative;
  margin-left: auto;
  background-color: #ffffff;
}

.search {
  border: none;
  border-radius: 0.375rem;
  height: 3.0675rem;
  width: 90%;
  padding: 0.875rem;
  color: #303030;
}

.search:focus {
  border: none;
  outline: none;
}

#submit-button {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  border: 0;
  outline: 0;
  padding-right: 0.5rem;
  padding-left: 0.5rem;
  background: #ffffff;
  cursor: pointer;
}

#submit-button .fa-solid {
  width: 2rem;
  color: #303030;
  font-size: 1.5rem;
}

.result-box ul {
  border-top-width: 0.125rem;
  border-top-style: solid;
  border-top-color: #303030;
  padding: 0.4375rem;
  text-align: left;
}

.result-box ul li {
  list-style: none;
  border-radius: 0.25rem;
  padding: 0.875rem 0.4375rem;
  cursor: pointer;
  color: #303030;
}

.result-box ul li:hover {
  background-color: #51eefc;
}

.result-box {
  flex: 1;
  max-height: 20rem;
  overflow-y: scroll;
  background-color: #ffffff;
  border-radius: 0.375rem;
  margin: 0 0.4375rem;
  width: 50%;
  margin-left: auto;
}

.bg {
  background: url(../img2/bg.jpg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100%;
  float: left;
}

.box {
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 2rem;
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 3rem;
  padding-top: 2rem;
  padding-bottom: 1rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  box-shadow: 0.125rem 0.125rem 0.75rem #303030;
  backdrop-filter: blur(0.25rem);
}

.desc,
.data {
  font-size: 1.25rem;
  text-shadow: 0.15rem 0.15rem 0 #303030;
}

.container {
  padding: 2rem;
  margin-left: 5%;
  height: 100%;
  width: 90%;
  border-width: 0.2rem;
  border-style: solid;
  border-color: #303030;
  border-radius: 4rem;
  background: #303030;
  box-shadow: 0.125rem 0.125rem 0.75rem #555555;
  float: left;
}

#data {
  float: left;
  margin-bottom: 7.5%;
  margin-right: 2.5%;
}

#img {
  float: right;
}

.pic {
  display: inline-block;
  border-style: dashed;
  border-width: 0.2rem;
  border-color: #ffffff;
  width: 24rem;
  height: 16rem;
  border-radius: 4rem;
}

#desc {
  display: inline-block;
}

.desc {
  margin: 1.5rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

.footer {
  background-color: #303030;
  padding-top: 0.875rem;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 0.875rem;
  justify-content: left;
  display: flex;
  height: 14rem;
}

.footer-icon {
  width: 6rem;
  height: 6rem;
  padding: 0.875rem;
  image-rendering: pixelated;
  object-fit: cover;
}

.jump,
.footer-text {
  text-align: center;
  margin: 1rem;
  display: block;
}

.jump {
  display: table;
  margin: auto;
  margin-bottom: 1.25rem;
}

.footer-text {
  text-align: left;
}

.box-one {
  width: 7rem;
  height: auto;
}
.box-two,
.box-three {
  width: 30%;
  height: auto;
}

.box-one p,
.box-two p,
.box-three p {
  font-size: 0.875rem;
}

.contact {
  text-align: left;
  margin-bottom: 0.375rem;
  word-wrap: break-word;
  padding-left: 5%;
}

.contact.title {
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0.875rem;
}

@media screen and (max-width: 40em) {
  html {
    font-size: 87.5%;
  }

  h1 {
    font-size: 3.5rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  .box {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 2rem;
    margin-left: 2.5%;
    margin-right: 2.5%;
    margin-bottom: 3rem;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    backdrop-filter: blur(0.25rem);
  }

  .pic {
    display: inline-block;
    border-style: dashed;
    border-width: 0.2rem;
    border-color: #ffffff;
    width: 22.5rem;
    height: 15rem;
    border-radius: 4rem;
  }

  .navbar,
  .result-box {
    width: 80%;
  }
}
